## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
print('資料的 row 數%s'%(len(app_train.index)))

資料的 row 數307511

#### 列出所有欄位

In [5]:
print('資料的 column 數%s'%(len(app_train.columns)))

資料的 column 數122

#### 截取部分資料

In [7]:
app_train.iloc[5:2000,0:10]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5
6,100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0
8,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5
9,100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0
10,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5
12,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5
13,100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5
14,100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0
15,100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0
16,100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5
17,100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0
18,100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0
19,100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5
20,100024,0,Revolving loans,M,Y,Y,0,135000.000,427500.0,21375.0
21,100025,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5
22,100026,0,Cash loans,F,N,N,1,450000.000,497520.0,32521.5
23,100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0
24,100029,0,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5
25,100030,0,Cash loans,F,N,Y,0,90000.000,225000.0,11074.5
26,100031,1,Cash loans,F,N,Y,0,112500.000,979992.0,27076.5
27,100032,0,Cash loans,M,N,Y,1,112500.000,327024.0,23827.5
28,100033,0,Cash loans,M,Y,Y,0,270000.000,790830.0,57676.5
29,100034,0,Revolving loans,M,N,Y,0,90000.000,180000.0,9000.0
30,100035,0,Cash loans,F,N,Y,0,292500.000,665892.0,24592.5
31,100036,0,Cash loans,F,N,Y,0,112500.000,512064.0,25033.5
32,100037,0,Cash loans,F,N,N,0,90000.000,199008.0,20893.5
33,100039,0,Cash loans,M,Y,N,1,360000.000,733315.5,39069.0
34,100040,0,Cash loans,F,N,Y,0,135000.000,1125000.0,32895.0
...,...,...,...,...,...,...,...,...,...,...
1970,102311,0,Cash loans,M,Y,Y,2,270000.000,592560.0,35937.0
1971,102312,0,Cash loans,F,N,Y,0,81000.000,283500.0,13765.5
1972,102313,0,Revolving loans,F,N,Y,2,171000.000,270000.0,13500.0
1973,102314,0,Cash loans,F,Y,N,1,225000.000,675000.0,28728.0
1974,102316,0,Cash loans,F,Y,Y,2,270000.000,713889.0,43803.0
1975,102317,0,Cash loans,M,Y,Y,0,360000.000,1006920.0,51412.5
1976,102318,0,Cash loans,M,Y,Y,0,112500.000,158301.0,15552.0
1977,102319,0,Cash loans,M,Y,Y,0,135000.000,314055.0,17167.5
1978,102320,0,Cash loans,F,N,Y,0,165150.000,595759.5,39811.5
1979,102321,0,Cash loans,F,N,Y,1,99000.000,622413.0,33894.0
1980,102322,0,Cash loans,F,N,Y,0,202500.000,942300.0,30528.0
1981,102323,0,Cash loans,F,N,Y,0,270000.000,792162.0,38241.0
1982,102324,0,Cash loans,F,Y,Y,0,261000.000,1227901.5,46899.0
1983,102325,0,Revolving loans,F,N,Y,0,157500.000,180000.0,9000.0
1984,102326,0,Cash loans,F,N,Y,1,45000.000,135000.0,7321.5
1985,102327,0,Cash loans,M,N,N,1,180000.000,649462.5,24196.5
1986,102328,0,Cash loans,F,N,Y,0,94500.000,204768.0,7483.5
1987,102329,0,Cash loans,M,N,Y,0,225000.000,447768.0,35374.5
1988,102330,0,Cash loans,F,N,N,0,67500.000,508495.5,21672.0
1989,102331,0,Revolving loans,F,N,N,1,54000.000,180000.0,9000.0
1990,102332,0,Cash loans,F,N,Y,0,112500.000,284400.0,15880.5
1991,102333,0,Cash loans,F,N,Y,0,135000.000,1061599.5,31171.5
1992,102334,1,Cash loans,M,Y,Y,1,229500.000,888840.0,29376.0
1993,102335,0,Cash loans,M,N,Y,1,189000.000,1133662.5,45090.0
1994,102336,0,Cash loans,M,Y,Y,0,315000.000,273636.0,29601.0
1995,102337,1,Cash loans,F,N,Y,0,49500.000,130824.0,5062.5
1996,102338,0,Cash loans,M,Y,Y,0,135000.000,254700.0,17019.0
1997,102339,0,Revolving loans,F,Y,N,1,135000.000,202500.0,10125.0
1998,102341,0,Revolving loans,F,N,N,2,202500.000,337500.0,16875.0
1999,102343,0,Cash loans,M,N,Y,1,180000.000,810000.0,21496.5

In [10]:
app_train[app_train['AMT_INCOME_TOTAL']>427500.000]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
22,100026,0,Cash loans,F,N,N,1,450000.0,497520.0,32521.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
51,100059,0,Cash loans,M,Y,Y,1,540000.0,675000.0,34596.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,3.0
59,100070,0,Cash loans,M,Y,Y,0,540000.0,1227901.5,46899.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
142,100164,0,Cash loans,F,Y,N,1,450000.0,407434.5,43362.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
280,100323,0,Cash loans,M,Y,Y,0,450000.0,1575000.0,55800.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
319,100366,0,Revolving loans,M,Y,Y,0,765000.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
323,100371,0,Cash loans,F,Y,Y,1,450000.0,808650.0,31464.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
332,100380,0,Cash loans,F,N,Y,0,630000.0,900000.0,57519.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
357,100411,0,Cash loans,M,Y,N,1,450000.0,1035832.5,33412.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
366,100421,0,Cash loans,M,Y,N,0,450000.0,900000.0,32017.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
367,100423,0,Cash loans,F,Y,Y,0,472500.0,1327648.5,42957.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,3.0
391,100454,0,Revolving loans,M,Y,Y,3,607500.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
405,100469,0,Revolving loans,M,Y,Y,0,450000.0,1350000.0,67500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
410,100474,0,Revolving loans,M,Y,N,0,450000.0,900000.0,45000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
416,100480,0,Cash loans,M,N,N,0,450000.0,473760.0,50269.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
426,100492,0,Cash loans,F,N,Y,3,450000.0,716161.5,57550.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
429,100496,0,Cash loans,F,N,Y,0,450000.0,1125000.0,33025.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
441,100508,0,Cash loans,F,Y,Y,0,450000.0,1971072.0,62019.0,...,0,0,0,0,0.0,0.0,0.0,0.0,4.0,1.0
485,100559,0,Cash loans,F,Y,Y,0,450000.0,2286211.5,116266.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
537,100621,0,Cash loans,M,Y,Y,0,450000.0,1312110.0,52168.5,...,0,0,0,0,0.0,0.0,0.0,3.0,0.0,1.0
622,100712,0,Cash loans,M,N,N,2,540000.0,1575000.0,43443.0,...,0,0,0,0,0.0,0.0,0.0,9.0,0.0,2.0
632,100722,0,Cash loans,M,Y,Y,0,540000.0,545040.0,26640.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
701,100810,0,Revolving loans,M,Y,Y,2,540000.0,900000.0,45000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
765,100879,1,Cash loans,F,Y,Y,0,450000.0,1323000.0,47650.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
775,100889,0,Revolving loans,F,Y,Y,0,450000.0,855000.0,42750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
871,100999,0,Cash loans,M,Y,N,0,450000.0,2125953.0,81108.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
930,101073,1,Cash loans,F,Y,N,0,540000.0,485640.0,44671.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1049,101218,0,Cash loans,M,Y,Y,0,522000.0,746280.0,59094.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,3.0
1057,101228,0,Cash loans,M,N,N,3,450000.0,900000.0,31887.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
1064,101235,0,Revolving loans,F,N,Y,0,720000.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306005,454539,0,Cash loans,M,Y,N,0,675000.0,1078200.0,31522.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
306028,454569,0,Revolving loans,M,Y,Y,0,1350000.0,1575000.0,78750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
306103,454655,0,Cash loans,M,Y,N,2,450000.0,1008117.0,29020.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
306111,454665,0,Cash loans,M,N,Y,1,562500.0,900000.0,29164.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
306179,454746,0,Cash loans,M,Y,Y,1,949500.0,735579.0,35518.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
306181,454748,0,Revolving loans,F,Y,Y,1,450000.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
306215,454788,0,Cash loans,F,Y,N,0,450000.0,170640.0,9922.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,7.0
306285,454864,0,Cash loans,F,N,N,1,936000.0,1014493.5,55165.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,3.0
306346,454934,0,Cash loans,F,Y,Y,2,450000.0,612612.0,28516.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
306352,454941,0,Cash loans,M,N,Y,2,540000.0,935640.0,98379.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
306415,455010,0,Cash loans,M,Y,Y,1,450000.0,1113840.0,57001.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
306499,455107,1,Cash loans,M,Y,Y,0,495000.0,675000.0,49248.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
306508,455117,1,Cash loans,F,N,Y,0,495000.0,900000.0,46084.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
306515,455124,0,Cash loans,M,N,N,0,445500.0,840951.0,38002.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
306596,455224,0,Cash loans,F,N,Y,2,450000.0,258768.0,23863.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
306597,455225,0,Cash loans,F,N,Y,1,450000.0,1350000.0,37255.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
306710,455352,1,Cash loans,M,N,Y,1,450000.0,781920.0,42547.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
306771,455419,0,Revolving loans,M,Y,Y,0,450000.0,1125000.0,56250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
306804,455461,0,Cash loans,F,Y,Y,0,450000.0,1312110.0,52168.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
306871,455540,0,Cash loans,M,Y,Y,0,450000.0,225000.0,22383.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
306882,455551,0,Cash loans,M,Y,Y,0,517500.0,2250000.0,59485.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
306961,455633,0,Cash loans,F,N,Y,0,441000.0,1288350.0,37800.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307002,455682,0,Cash loans,M,Y,N,0,546250.5,1800000.0,166572.0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307022,455706,0,Cash loans,M,N,Y,0,540000.0,625536.0,38398.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307110,455806,0,Cash loans,F,N,N,0,450000.0,675000.0,32472.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
307274,455991,0,Cash loans,M,Y,Y,2,450000.0,495000.0,36148.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307440,456178,0,Cash loans,F,N,Y,0,440100.0,713889.0,45751.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307451,456190,0,Cash loans,M,Y,N,1,450000.0,545040.0,25407.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307484,456228,0,Cash loans,F,Y,N,0,540000.0,545040.0,35617.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307492,456236,0,Cash loans,M,Y,Y,0,585000.0,1575000.0,43443.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子